@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Orbitron:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --blue: #3a3ae5;
  --dark-blue: #00008a;
  --very-dark-blue: #151b33;
  --light-green: #0cf221;
  --dark-green: #006400;
  --red: #ec2427;
  --violet: #ee82ee;
}

body {
  font-family: "Orbitron", sans-serif;
  background: var(--very-dark-blue) url("images/numbers.jpg") no-repeat
    center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--blue);
  width: 20em;
  height: 33em;
  border-radius: 15px;
  background-image: linear-gradient(
    45deg,
    hsl(240deg 77% 56%) 0%,
    hsl(250deg 81% 57%) 11%,
    hsl(258deg 84% 57%) 22%,
    hsl(265deg 88% 58%) 33%,
    hsl(272deg 91% 58%) 44%,
    hsl(277deg 94% 58%) 56%,
    hsl(283deg 96% 57%) 67%,
    hsl(288deg 98% 56%) 78%,
    hsl(293deg 99% 54%) 89%,
    hsl(297deg 100% 50%) 100%
  );
}

.display-window {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  margin-right: 0.6em;
  width: 76%;
}

.result {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1em;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  width: 200px;
  height: 53px;
  background: var(--white);
  border-radius: 0 10px 10px 0;
}

button {
  background: var(--white);
  font-size: 1.25rem;
  font-weight: 700;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 0.5em 0.2em;
  border: none;
  cursor: pointer;
  transition: all 0.1s;
}

button:hover,
button:focus {
  background: var(--violet);
  color: var(--white);
}

.equals {
  background: var(--light-green);
  width: 115px;
}

.equals:hover,
.equals:focus {
  background: var(--dark-green);
  color: var(--white);
}

.clear {
  width: 60px;
  height: 55px;
  color: var(--white);
  background: var(--red);
  border-radius: 10px 0 0 10px;
  box-shadow: none;
  cursor: pointer;
}

.clear:hover,
.clear:focus {
  background: var(--red);
  color: var(--dark-blue);
}
